body{
    background-color: black;
    color: white;
}
.left-nav, .right-nav{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    font-size: 30px;
}
.right-nav{
    float: right;
    padding: 15px;
    position: relative;
    right: 50px;
}
.navbar a{
    text-decoration: none;
    color: inherit;
}
.navbar img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#name{
    font-family: 'Kaushan Script', cursive;
    color: turquoise;
    text-shadow: white 2px;
}

