body{
    background-color: black;
    color: white;
}
.left-nav, .right-nav{
    list-style-type: none;
    display: inline-block;
    padding: 10px 15px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(175, 173, 173);
}
.right-nav{
    float: right;
    padding: 15px;
    position: relative;
    right: 50px;
}
#name{
    font-weight: bolder;
}
.navbar a{
    text-decoration: none;
    color: inherit;
}
.navbar a:hover{
    position: relative;
    right: 3px;
    top: -3px;
}
img{
    float: right;
    top: -200px;
}
.welcome{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 180px;
}
.text{
    align-self: flex-start;
    position: relative;
    top: 170px;
    left: 20px;
}
.text h1{
    
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    white-space: nowrap;
}
.pic{
    align-items: flex-end;
    
}
    
   


