body{
    background-color: black;
    color: white;
}
.left-nav, .right-nav{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    font-size: 30px;
}
.right-nav{
    float: right;
    padding: 15px;
    position: relative;
    right: 50px;
}
#name{
    font-family: 'Kaushan Script', cursive;
}

